/* Container holding the image and the text */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-size: 500%;
}

.menu_elements {
    position: absolute;
    top: 25%;
    left: 0%;
}

.menu_elements_down {
    position: absolute;
    top: 65%;
    left: 0%;
}